In [1]:

import numpy as np
import pandas as pd

import os
import sys

# Get the current working directory (where the notebook is located)
notebook_dir = os.getcwd()

# If you need to add a specific directory relative to the notebook directory, adjust the path accordingly
desired_path = os.path.join(notebook_dir, '.')

# Add the directory to sys.path
sys.path.insert(0, desired_path)

# C04 - Zone Learning

In [2]:

from jgtml import zonehelper
from jgtml import realityhelper

In [3]:

i="SPX500";t="D1"

In [4]:


mfi_features_00__drop_columns_arr = ['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'fh13', 'fl13', 'fh21', 'fl21', 'fh34', 'fl34', 'fh55',
       'fl55','price_peak_above', 'price_peak_bellow', 'ao_peak_above','ao_peak_bellow']
mfi_features_01__columnsToDrop_part01 = ['vaos','vaob','vaosc','vaobc','fh8', 'fl8', 'fh89', 'fl89','mfi','aoaz','aobz','sz','bz','acb','acs','ss','sb','mfi_sq', 'mfi_green','mfi_fade', 'mfi_fake','tmax', 'tmin', 'p', 'l']
mfi_features_02__more2dropcolumns_part02=['Volume', 'Open', 'High', 'Low', 'Close', 'Median', 'ac', 'mfi_sig', 'zcol_M1', 'zcol_W1', 'ao_W1', 'vaoc','zlc', 'zlcb', 'zlcs', 'zcol','fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5', 'fdbb', 'fdbs','jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips', 'tjaw','tteeth', 'tlips','zcol_M1','zcol_W1','zcol_D1','zcol_H8','zcol_H6','zcol_H4','zcol_H3','zcol_H2','zcol_H1','zcol_m15','zcol_m5']
columns_to_drop=mfi_features_00__drop_columns_arr+mfi_features_01__columnsToDrop_part01+mfi_features_02__more2dropcolumns_part02
columns_to_drop

['BidOpen',
 'BidHigh',
 'BidLow',
 'BidClose',
 'AskOpen',
 'AskHigh',
 'AskLow',
 'AskClose',
 'fh13',
 'fl13',
 'fh21',
 'fl21',
 'fh34',
 'fl34',
 'fh55',
 'fl55',
 'price_peak_above',
 'price_peak_bellow',
 'ao_peak_above',
 'ao_peak_bellow',
 'vaos',
 'vaob',
 'vaosc',
 'vaobc',
 'fh8',
 'fl8',
 'fh89',
 'fl89',
 'mfi',
 'aoaz',
 'aobz',
 'sz',
 'bz',
 'acb',
 'acs',
 'ss',
 'sb',
 'mfi_sq',
 'mfi_green',
 'mfi_fade',
 'mfi_fake',
 'tmax',
 'tmin',
 'p',
 'l',
 'Volume',
 'Open',
 'High',
 'Low',
 'Close',
 'Median',
 'ac',
 'mfi_sig',
 'zcol_M1',
 'zcol_W1',
 'ao_W1',
 'vaoc',
 'zlc',
 'zlcb',
 'zlcs',
 'zcol',
 'fh',
 'fl',
 'fh3',
 'fl3',
 'fh5',
 'fl5',
 'fdbb',
 'fdbs',
 'jaw',
 'teeth',
 'lips',
 'bjaw',
 'bteeth',
 'blips',
 'tjaw',
 'tteeth',
 'tlips',
 'zcol_M1',
 'zcol_W1',
 'zcol_D1',
 'zcol_H8',
 'zcol_H6',
 'zcol_H4',
 'zcol_H3',
 'zcol_H2',
 'zcol_H1',
 'zcol_m15',
 'zcol_m5']

In [5]:



df_factoring_proto_keeping_features_columns=realityhelper.create_pattern_dataset__ttf_mfis_ao_2407a_pto_get_dataset_we_need_in_here__2407060929(i,t,columns_to_drop=columns_to_drop)

INFO::Requires experimentation with training, testing prediction to select from this what we need in reality to make the model work and predict reality of a signal.
   Read TTF:  /var/lib/jgt/full/data/ttf/SPX500_D1_ttf.csv

In [20]:
df_factoring_proto_keeping_features_columns.tail(4)

,ao,fdb,mfi_str,mfi_str_M1,ao_M1,mfi_str_W1,mfi_str_M1_lag_1,mfi_str_M1_lag_2,mfi_str_M1_lag_3,mfi_str_M1_lag_4,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-04 21:00:00,0.190850,0,1,2,0.828396,2,2,2,2,2,...,2,2,2,2,3,2,3,2,3,4
2024-07-07 21:00:00,0.211862,0,2,2,0.828396,2,2,2,2,2,...,2,2,2,2,2,1,2,3,2,3
2024-07-08 21:00:00,0.231499,-1,1,2,0.828396,2,2,2,2,2,...,2,2,2,2,2,2,1,2,3,2
2024-07-09 21:00:00,0.244263,0,2,2,0.828396,2,2,2,2,2,...,2,2,2,2,2,1,2,1,2,3

In [21]:

df_factoring_proto_keeping_features_columns.describe()

,ao,fdb,mfi_str,mfi_str_M1,ao_M1,mfi_str_W1,mfi_str_M1_lag_1,mfi_str_M1_lag_2,mfi_str_M1_lag_3,mfi_str_M1_lag_4,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
count,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,...,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000,7859.000000
mean,0.014685,-0.039445,1.189592,1.093651,0.152661,1.165161,1.093396,1.093142,1.092887,1.092633,...,1.164906,1.164652,1.164398,1.164143,1.163889,1.189337,1.189210,1.188955,1.188828,1.188574
std,0.095195,0.424763,1.402898,1.310969,0.233377,1.371529,1.310987,1.311005,1.311023,1.311041,...,1.371560,1.371590,1.371621,1.371651,1.371682,1.402932,1.402995,1.403029,1.403092,1.403126
min,-1.000000,-1.000000,0.000000,0.000000,-0.442281,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.018860,0.000000,0.000000,0.000000,0.046099,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.018259,0.000000,1.000000,1.000000,0.141425,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,0.054084,0.000000,2.000000,2.000000,0.251475,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,0.413746,1.000000,4.000000,4.000000,1.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [7]:

df_factoring_proto_keeping_features_columns.columns

Index(['ao', 'fdb', 'mfi_str', 'mfi_str_M1', 'ao_M1', 'mfi_str_W1',
       'mfi_str_M1_lag_1', 'mfi_str_M1_lag_2', 'mfi_str_M1_lag_3',
       'mfi_str_M1_lag_4', 'mfi_str_M1_lag_5', 'mfi_str_W1_lag_1',
       'mfi_str_W1_lag_2', 'mfi_str_W1_lag_3', 'mfi_str_W1_lag_4',
       'mfi_str_W1_lag_5', 'mfi_str_lag_1', 'mfi_str_lag_2', 'mfi_str_lag_3',
       'mfi_str_lag_4', 'mfi_str_lag_5'],
      dtype='object')

# What do we have?

## MFI learning and prediction

# Zone Learning

## Question about ML?

### Do we Just add it to the MFI Learning ?

In [8]:

df_raw_somehow_2407080759=realityhelper.create_pattern_dataset__ttf_mfis_ao_2407a_pto_get_dataset_we_need_in_here__2407060929(i,t)

INFO::Requires experimentation with training, testing prediction to select from this what we need in reality to make the model work and predict reality of a signal.
   Read TTF:  /var/lib/jgt/full/data/ttf/SPX500_D1_ttf.csv

In [9]:
df_raw_somehow_2407080759.tail(3)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-07 21:00:00,5568.90,5591.28,5564.34,5582.35,5569.50,5591.78,5564.94,5582.95,50850,5569.20,...,2,2,2,2,2,1,2,3,2,3
2024-07-08 21:00:00,5582.35,5600.11,5580.69,5586.45,5582.95,5600.61,5581.29,5587.05,53638,5582.65,...,2,2,2,2,2,2,1,2,3,2
2024-07-09 21:00:00,5586.45,5644.83,5585.01,5639.28,5587.05,5645.33,5585.61,5639.88,40671,5586.75,...,2,2,2,2,2,1,2,1,2,3

In [10]:
df_raw_somehow_2407080759.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'tjaw', 'tteeth', 'tlips', 'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5',
       'fh8', 'fl8', 'fh13', 'fl13', 'fh21', 'fl21', 'fh34', 'fl34', 'fh55',
       'fl55', 'fh89', 'fl89', 'mfi', 'fdbb', 'fdbs', 'fdb', 'aoaz', 'aobz',
       'zlc', 'zlcb', 'zlcs', 'zcol', 'sz', 'bz', 'acs', 'acb', 'ss', 'sb',
       'price_peak_above', 'price_peak_bellow', 'ao_peak_above',
       'ao_peak_bellow', 'mfi_sq', 'mfi_green', 'mfi_fade', 'mfi_fake',
       'mfi_sig', 'mfi_str', 'mfi_str_M1', 'zcol_M1', 'ao_M1', 'mfi_str_W1',
       'zcol_W1', 'ao_W1', 'mfi_str_M1_lag_1', 'mfi_str_M1_lag_2',
       'mfi_str_M1_lag_3', 'mfi_str_M1_lag_4', 'mfi_str_M1_lag_5',
       'mfi_str_W1_lag_1', 'mfi_str_W1_lag_2', 'mfi_str_W1_lag_3',
       'mfi_str_W1_lag_4', 'mfi_str_W1_lag_5', 'mfi_str_lag_1',
       'mfi_str_lag_2', 'mfi_str_lag_3', 'mfi_str_lag_4', 'mfi_str_lag_5'],
      dtype='object')

## Add ZONEINT

In [11]:

df_zone_converted_proto2407080805=zonehelper.column_zone_str_in_dataframe_to_id(df_raw_somehow_2407080759,t,inplace=False)

In [12]:


df_zone_converted_proto2407080805

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,mfi_str_W1_lag_1,mfi_str_W1_lag_2,mfi_str_W1_lag_3,mfi_str_W1_lag_4,mfi_str_W1_lag_5,mfi_str_lag_1,mfi_str_lag_2,mfi_str_lag_3,mfi_str_lag_4,mfi_str_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
1994-01-07 22:00:00,467.09,470.26,467.03,469.90,467.09,470.26,467.03,469.90,0,467.09,...,0,0,0,0,0,0,0,0,0,0
1994-01-10 22:00:00,469.90,475.27,469.55,475.27,469.90,475.27,469.55,475.27,0,469.90,...,0,0,0,0,0,0,0,0,0,0
1994-01-11 22:00:00,475.27,475.28,473.27,474.13,475.27,475.28,473.27,474.13,0,475.27,...,0,0,0,0,0,0,0,0,0,0
1994-01-12 22:00:00,474.13,475.06,472.14,474.17,474.13,475.06,472.14,474.17,0,474.13,...,0,0,0,0,0,0,0,0,0,0
1994-01-13 22:00:00,474.17,474.17,471.80,472.47,474.17,474.17,471.80,472.47,0,474.17,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-03 21:00:00,5542.12,5548.70,5537.23,5540.25,5542.62,5549.30,5537.73,5540.75,12133,5542.37,...,2,2,2,3,3,3,2,3,4,4
2024-07-04 21:00:00,5540.25,5577.70,5536.90,5568.90,5540.75,5578.21,5537.50,5569.50,80146,5540.50,...,2,2,2,2,3,2,3,2,3,4
2024-07-07 21:00:00,5568.90,5591.28,5564.34,5582.35,5569.50,5591.78,5564.94,5582.95,50850,5569.20,...,2,2,2,2,2,1,2,3,2,3
2024-07-08 21:00:00,5582.35,5600.11,5580.69,5586.45,5582.95,5600.61,5581.29,5587.05,53638,5582.65,...,2,2,2,2,2,2,1,2,3,2
2024-07-09 21:00:00,5586.45,5644.83,5585.01,5639.28,5587.05,5645.33,5585.61,5639.88,40671,5586.75,...,2,2,2,2,2,1,2,1,2,3

In [13]:
df_zone_converted_proto2407080805.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'tjaw', 'tteeth', 'tlips', 'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5',
       'fh8', 'fl8', 'fh13', 'fl13', 'fh21', 'fl21', 'fh34', 'fl34', 'fh55',
       'fl55', 'fh89', 'fl89', 'mfi', 'fdbb', 'fdbs', 'fdb', 'aoaz', 'aobz',
       'zlc', 'zlcb', 'zlcs', 'zcol', 'sz', 'bz', 'acs', 'acb', 'ss', 'sb',
       'price_peak_above', 'price_peak_bellow', 'ao_peak_above',
       'ao_peak_bellow', 'mfi_sq', 'mfi_green', 'mfi_fade', 'mfi_fake',
       'mfi_sig', 'mfi_str', 'mfi_str_M1', 'zcol_M1', 'ao_M1', 'mfi_str_W1',
       'zcol_W1', 'ao_W1', 'mfi_str_M1_lag_1', 'mfi_str_M1_lag_2',
       'mfi_str_M1_lag_3', 'mfi_str_M1_lag_4', 'mfi_str_M1_lag_5',
       'mfi_str_W1_lag_1', 'mfi_str_W1_lag_2', 'mfi_str_W1_lag_3',
       'mfi_str_W1_lag_4', 'mfi_str_W1_lag_5', 'mfi_str_lag_1',
       'mfi_str_lag_2', 'mfi_str_lag_3', 'mfi_str_lag_4', 'mfi_str_lag_5'],
      dtype='object')

In [14]:
col_list=zonehelper.get_zone_columns_list(t)
col_list

['zcol_M1', 'zcol_W1', 'zcol']

In [15]:

tstdf=df_raw_somehow_2407080759.copy()

In [16]:

tstdf=df_zone_converted_proto2407080805[col_list].copy()
tstdf.tail(3)

                     zcol_M1  zcol_W1  zcol
Date
2024-07-07 21:00:00        0        1     1
2024-07-08 21:00:00        0        1     1
2024-07-09 21:00:00        0        1     0

## Add Zone Lag

In [17]:


#df_zone_converted_proto2407080805
#_zoneint_add_lagging_feature
df_zone_with_lagging_feature_2407082018=zonehelper._zoneint_add_lagging_feature(df_zone_converted_proto2407080805,t,lag_period=1,total_lagging_periods=5,inplace=False)

df_zone_with_lagging_feature_2407082018.tail(6)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,zcol_W1_lag_1,zcol_W1_lag_2,zcol_W1_lag_3,zcol_W1_lag_4,zcol_W1_lag_5,zcol_lag_1,zcol_lag_2,zcol_lag_3,zcol_lag_4,zcol_lag_5
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-02 21:00:00,5513.96,5547.01,5511.19,5542.12,5514.36,5547.51,5511.79,5542.62,51015,5514.16,...,0,0,0,0,0,0,0,0,-1,-1
2024-07-03 21:00:00,5542.12,5548.70,5537.23,5540.25,5542.62,5549.30,5537.73,5540.75,12133,5542.37,...,0,0,0,0,0,0,0,0,0,-1
2024-07-04 21:00:00,5540.25,5577.70,5536.90,5568.90,5540.75,5578.21,5537.50,5569.50,80146,5540.50,...,0,0,0,0,0,1,0,0,0,0
2024-07-07 21:00:00,5568.90,5591.28,5564.34,5582.35,5569.50,5591.78,5564.94,5582.95,50850,5569.20,...,0,0,0,0,0,1,1,0,0,0
2024-07-08 21:00:00,5582.35,5600.11,5580.69,5586.45,5582.95,5600.61,5581.29,5587.05,53638,5582.65,...,1,0,0,0,0,1,1,1,0,0
2024-07-09 21:00:00,5586.45,5644.83,5585.01,5639.28,5587.05,5645.33,5585.61,5639.88,40671,5586.75,...,1,1,0,0,0,1,1,1,1,0

In [18]:

df_zone_with_lagging_feature_2407082018__fn = "df_zone_with_lagging_feature_2407082018.csv"
df_zone_with_lagging_feature_2407082018.to_csv(df_zone_with_lagging_feature_2407082018__fn)


<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>BidOpen</th>
      <th>BidHigh</th>
      <th>BidLow</th>
      <th>BidClose</th>
      <th>AskOpen</th>
      <th>AskHigh</th>
      <th>AskLow</th>
      <th>AskClose</th>
      <th>Volume</th>
      <th>Open</th>
      <th>...</th>
      <th>zcol_W1_lag_1</th>
      <th>zcol_W1_lag_2</th>
      <th>zcol_W1_lag_3</th>
      <th>zcol_W1_lag_4</th>
      <th>zcol_W1_lag_5</th>
      <th>zcol_lag_1</th>
      <th>zcol_lag_2</th>
      <th>zcol_lag_3</th>
      <th>zcol_lag_4</th>
      <th>zcol_lag_5</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2024-06-27 21:00:00</th>
      <td>5497.35</td>
      <td>5532.83</td>
      <td>5458.81</td>
      <td>5481.51</td>
      <td>5497.75</td>
      <td>5533.33</td>
      <td>5459.31</td>
      <td>5482.11</td>
      <td>132647</td>
      <td>5497.55</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2024-06-30 21:00:00</th>
      <td>5481.51</td>
      <td>5491.61</td>
      <td>5455.15</td>
      <td>5482.60</td>
      <td>5482.11</td>
      <td>5492.21</td>
      <td>5455.65</td>
      <td>5483.20</td>
      <td>108295</td>
      <td>5481.81</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2024-07-01 21:00:00</th>
      <td>5482.60</td>
      <td>5520.99</td>
      <td>5453.98</td>
      <td>5513.96</td>
      <td>5483.20</td>
      <td>5521.59</td>
      <td>5454.58</td>
      <td>5514.36</td>
      <td>86066</td>
      <td>5482.90</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>2024-07-02 21:00:00</th>
      <td>5513.96</td>
      <td>5547.01</td>
      <td>5511.19</td>
      <td>5542.12</td>
      <td>5514.36</td>
      <td>5547.51</td>
      <td>5511.79</td>
      <td>5542.62</td>
      <td>51015</td>
      <td>5514.16</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>2024-07-03 21:00:00</th>
      <td>5542.12</td>
      <td>5548.70</td>
      <td>5537.23</td>
      <td>5540.25</td>
      <td>5542.62</td>
      <td>5549.30</td>
      <td>5537.73</td>
      <td>5540.75</td>
      <td>12133</td>
      <td>5542.37</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>2024-07-04 21:00:00</th>
      <td>5540.25</td>
      <td>5577.70</td>
      <td>5536.90</td>
      <td>5568.90</td>
      <td>5540.75</td>
      <td>5578.21</td>
      <td>5537.50</td>
      <td>5569.50</td>
      <td>72693</td>
      <td>5540.50</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>6 rows × 105 columns</p>
</div>

In [19]:
df_zone_with_lagging_feature_2407082018.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open',
       ...
       'zcol_W1_lag_1', 'zcol_W1_lag_2', 'zcol_W1_lag_3', 'zcol_W1_lag_4',
       'zcol_W1_lag_5', 'zcol_lag_1', 'zcol_lag_2', 'zcol_lag_3', 'zcol_lag_4',
       'zcol_lag_5'],
      dtype='object', length=105)